/* slider button  */
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 10%;
    left: var(--swiper-navigation-sides-offset);
    top: 6%;
    background-color: #82b29a;
    border: 2px solid #e9e6e3;
    padding: 28px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,5%);
    left: auto;
    top: 6%;
    background-color: #82b29a;
    border: 2px solid #e9e6e3;
    padding: 28px;
}
.swiper-slide, swiper-slide {
    height: 512px;
}
/* .swiper-button-next:after, .swiper-button-prev:after {
    font-family: left;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
} */
 .gallery_hover_text{
    width: 500px;
    display: block;
}