.about_hover:hover h2{
    margin-top: -70%;
    transition: 1s;
}
.about_hover:hover .about_hover_text{
    display: block;
}
/* members */
.icon_top:hover .icon {
    display: flex;
    transition: ease-in
}

.test_shadow{
    background-color: #fff;
    box-shadow: rgba(243, 241, 242, 0.4) 10px 10px, rgba(243, 241, 242, 0.4) 20px 20px;
}