.about_hover:hover h2{
    margin-top: -70%;
    transition: 1s;
}
.about_hover:hover .about_hover_text{
    display: block;
}
/* members */
.icon_top:hover .icon {
    display: flex;
    transition: ease-in
}
/* testimonials */
.test_shadow{
    background-color: #fff;
    box-shadow: rgba(243, 241, 242, 0.4) 10px 10px, rgba(243, 241, 242, 0.4) 20px 20px;
}

/* blog */
.Blog_bg{
  background: linear-gradient(
    to top,
    #f0eeec 0%,
    #f0eeec 50%,
    white 50%,
    white 100%
  );
}

@media (max-width: 1280px) {
    .Blog_bg{
        background: linear-gradient(
    to top,
    #f0eeec 0%,
    #f0eeec 50%,
    #f0eeec 50%,
    #f0eeec 100%
  );
      }
}